body {
  background: #efefef;
}

#KozukaiUp {
  margin: 0 auto;
  padding: 1rem;
  max-width: 50rem;
  border: 1px solid black;
  text-align: center;
}

#KozukaiUp p {
  padding: 0;
  margin: 0;
}

.kozukaiText {
  font-size: 3rem;
}

.btnCenter {
  text-align: center;
}

#rslt {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: red;
}

.modal-title {
  user-select: none;
}

.displayNone {
  display: none;
}

/* 吹き出し用 */
.balloon5 {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}

.balloon5 .faceicon,
.balloon5 .faceicon-r {
  float: left;
  margin-right: -90px;
  width: 80px;
}

.balloon5 .faceicon img.failImg {
  margin-left: 7rem;
  width: 160%;
}

.balloon5 .faceicon img,
.balloon5 .faceicon-r img{
  width: 100%;
  height: auto;
  border: solid 3px #d7ebfe;
  border-radius: 50%;
}
.balloon5 .faceicon img {
  margin-left: 15rem;
}
.balloon5 .faceicon-r img {
  margin-left: 33rem;
}

.balloon5 .chatting {
  width: 100%;
}

.says,
.says-r {
  display: inline-block;
  position: relative; 
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  background: #d7ebfe;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px; 
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #d7ebfe;
}

.says-r {
  margin: 10px 0 0 0;
  width: 12.5rem;
}

.says {
  width: 13rem;
  height: 4rem;
  margin-top: 0.7rem;
  position: relative;
}

.failSays {
  width: 22rem;
  height: 6rem;
  color: #d1483e;
  font-weight: bold;
  font-size: 1.5rem;
}

.says-r:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px;
  left: 200px;
  border: 12px solid transparent;
  border-left: 12px solid #d7ebfe;
}

.says p,
.says-r p {
  margin: 0;
  padding: 0;
}
/* 吹き出し用ここまで */

.failText {
  color: #d1483e;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}
.failText2 {
  color: #d1483e;
  font-weight: bold;
}

#MotherText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
}